.input {
  width: 100%;
  color: var(--on-light-color);
  text-align: center;
  background-color: var(--input-bg-color);
  border: 1px solid var(--input-border-color);
  border-radius: var(--border-radius-standard);
  padding-top: 8px;
  padding-bottom: 8px;
}

.input:focus {
  outline: none;
  border-color: var(--primary-color);
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
