.card_container {
  display: flex;
  gap: 30px;
  align-items: center;
  padding: 26px;
  border: 1px solid var(--card-border-color);
  border-radius: var(--border-radius-standard);
  background-color: var(--on-primary-color);
}

.card_content {
  max-width: 378px;
}

.heading_line {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card_description {
  line-height: 24px;
  margin-bottom: 8px;
  padding-right: 27px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.control_container {
  padding-right: 160px;
}
