@import './variables.css';
@import './typography.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

li {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: var(--content-width);
  margin: 0 auto;
}

.page {
  width: 100%;
  padding: var(--page-vertical-indent-standard) 0;
}

.wrapper-basic-page {
  background-size: cover;
  position: relative;
}

.wrapper-basic-page:before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--main-bg-color);
  clip-path: polygon(100% 0, 0 70px, 0 100%, 100% 100%);
  z-index: 0;
}

.wrapper-basic-page > * {
  position: relative;
  z-index: 1;
}

.error-text {
  font-size: 25px;
  color: var(--error-text-color);
  text-align: center;
}
