@import './variables.css';
@import './typography.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

li {
  list-style: none;
  padding: 0;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: var(--content-width);
  margin: 0 auto;
}

.page {
  width: 100%;
  padding: var(--page-vertical-indent-standard) 0
    var(--page-vertical-indent-standard) 0;
}
