.heading-1 {
  font-weight: 350;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 1.8px;
  color: var(--title-color);
}

.heading-4 {
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1.5px;
  color: var(--title-color);
}

.subtext {
  font-size: 18px;
  line-height: 24.12px;
  letter-spacing: 0.36px;
  color: var(--text-color);
}

.base-text {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: var(--text-color);
}

.link {
  font-size: 15px;
  text-decoration: none;
  color: var(--text-color);
}

.btn-text {
  font-size: 17px;
  text-align: center;
  text-decoration: none;
  color: var(--on-primary-color);
}

.btn-counter-text {
  font-size: 13px;
  color: var(--primary-color);
  text-align: center;
}

.highlight-text {
  color: var(--primary-color);
}
