.main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtext {
  margin-top: 26px;
  margin-bottom: 50px;
  text-align: center;
}

.tooltip {
  cursor: pointer;
}

.btn_block {
  display: flex;
  gap: 30px;
  margin-bottom: 40px;
}

.card_list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 65px;
}
